extends ../layouts/default

block main
  h1= title.TitleName
  
  content
    table(border=1, style="width: 100%")
      tr
        th Title ID
        th Type
        th Type Code
        th Release Year
        th Performance Mode
        th Animation Mode
      tr
        td=title.TitleId 
        td=title.TitleType
        td=title.TitleTypeCode 
        td=title.ReleaseYear
        td=title.PerformanceMode
        td=title.AnimationMode

    h4 Genres
    - if (title.Genres.length > 0)
      table(border=0, style="width: 100%")
        tr
          td
          - for(j=0; j < title.Genres.length; j++)
            - if (j != (title.Genres.length-1))
              =title.Genres[j]+', '
            - else
              =title.Genres[j]
    - else
      ="N/A"
    
    h4 Other Names  
    - if (title.OtherNames.length > 0)
      table(border=1, style="width: 100%")
        tr
          th Title
          th Language
          th Type
        - each other_name in title.OtherNames
          tr
            td=other_name.TitleName
            td=other_name.TitleNameLanguage
            td=other_name.TitleNameType
    - else
      ="N/A"
    br
    h4 Ratings
    - if (title.Ratings.length > 0)
      table(border=0, style="width: 100%")
        - each rating in title.Ratings
          tr
            td 
              b Ratings System: 
              =rating.RatingSystem        
            td 
              b Rating Descriptors:
            td
              - for(j=0; j<rating.RatingDescriptors.length; j++)
                - if (j != (rating.RatingDescriptors.length-1))
                  =rating.RatingDescriptors[j].Rating+', '
                - else
                  =rating.RatingDescriptors[j].Rating
    - else
      ="N/A"

    table(border=0, style="width: 100%")
      tr
        td(style="valign: top;")
          h4 Storylines
          - if (title.Storylines.length > 0)
            table(border=1)
              tr
                th Description
                th Language
                th Type
              - each story_line in title.Storylines
                tr
                  td=story_line.Description
                  td=story_line.Language
                  td=story_line.Type
          - else
            ="N/A"
            
    h4 Participants  
    - if (title.Participants.length > 0)
      table(border=1, style="width: 100%")
        tr
          th Id
          th Name
          th Role
          th Type
          th Is Key?
          th On Screen?
        - each actor in title.Participants
          tr
            td=actor.ParticipantId
            td=actor.Name
            td=actor.RoleType
            td=actor.ParticipantType
            td=actor.IsKey=="true" ? "Yes" : "No"
            td=actor.IsOnScreen=="true" ? "Yes" : "No"
    - else
      ="N/A"

    h4 Awards
    - if (title.Awards.length > 0)
      table(border=1, style="width: 100%")
        tr
          th Award Won
          th Year
          th Participants
          th Award
          th Award Company
        - each awardwinner in title.Awards
          tr
            td=awardwinner.AwardWon=="true" ? "Yes" : "No"
            td=awardwinner.AwardYear
            td
              - if (awardwinner.Participants.length > 0)
                - for(j=0; j<awardwinner.Participants.length; j++)
                  - if (j != awardwinner.Participants.length-1)
                    =awardwinner.Participants[j]+', '
                  - else
                    =awardwinner.Participants[j]
              - else
                ="N/A"
            td=awardwinner.Award
            td=awardwinner.AwardCompany
    - else
      ="N/A"

    h4 Network Levels
    - if (title.NetworkLevels.length > 0)
      table(border=0, style="width: 100%")
        tr
          td
          - for(j=0; j < title.NetworkLevels.length; j++)
            - if (j != (title.NetworkLevels.length-1))
              =title.NetworkLevels[j]+', '
            - else
              =title.NetworkLevels[j]
    - else
      ="N/A"

    h4 External Sources
    - if (title.ExternalSources.length > 0)
      ol
       - each source in title.ExternalSources
         li= source.Name
    - else
      ="N/A"
      